body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0; /* Remove default margins */
  min-height: 100vh; /* Makes sure the body takes at least the full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #333;
  margin-bottom: 20px; /* Space between title and input */
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #fff;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #f44336;
  color: white;
}

